<!DOCTYPE html>
<html>
  <head>
    <title>My Instagram Clone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="clearfix">
        <h1 class="left_elm"> 
          Instagram Clone
        </h1>
        <div class="right_elm">
          <% if logged_in? %>
            <div class="cBtn cVert">
              <%= link_to "Profile", user_path(current_user.id) %>
            </div>
            <div class="cBtn cVert">
              <%= link_to "Logout", session_path(current_user.id), method: :delete %>
            </div>
          <% else %>
             <div class="cBtn">
              <%= link_to "Connexion", new_session_path %>
            </div>
            <div class="cBtn">
              <%= link_to "Inscription", new_user_path %>
            </div>
          <% end %>
        </div>
    </header>
    <% flash.each do |key, value| %> 
    <%= content_tag(:div, value, class: "#{key}") %> 
    <% end %> 
    <%= yield %>
  </body>
</html>
